# Docker
/docker/docker-compose.env
/docker/.home-developer

# Composer
/vendor

# PHP CS
.php_cs.cache

#Npm
src/Resources/web/node_modules/*
src/Resources/web/node_modules/*

# Bower
/Resources/web/bower_components/*
/Resources/web/bower_components/*
