{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
{% spaceless %}
    {% if value is not empty %}
        <div class="textarea-frame" data-stylesheets="{{ mmc_sonata_admin_tinymce_content_css }}">
            {{ value|raw }}
        </div>
    {% endif %}
{% endspaceless %}
{%- endblock %}
